<!--================Home Banner Area =================-->
<app-home-area></app-home-area>
<!--================End Home Banner Area =================-->

<!-- Start feature Area -->
<app-feature-area></app-feature-area>
<!-- End feature Area -->

<!--================ Feature Product Area =================-->
<app-feature-product-area></app-feature-product-area>
<!--================ End Feature Product Area =================-->

<!--================ Offer Area =================-->
<app-offer-area></app-offer-area>
<!--================ End Offer Area =================-->

<!--================ New Product Area =================-->
<app-new-product-area></app-new-product-area>
<!--================ End New Product Area =================-->

<!--================ Inspired Product Area =================-->
<app-inspired-product-area></app-inspired-product-area>
<!--================ End Inspired Product Area =================-->

<!--================ Start Blog Area =================-->
<app-blog-area></app-blog-area>
<!--================ End Blog Area =================-->
