<!--================Header Menu Area =================-->
<app-header></app-header>
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
<app-home></app-home>
<!--================End Home Banner Area =================-->

<!-- Start feature Area -->
<app-feature></app-feature>
<!-- End feature Area -->

<!--================ Feature Product Area =================-->
<app-feature-product></app-feature-product>
<!--================ End Feature Product Area =================-->

<!--================ Offer Area =================-->
<app-offer></app-offer>
<!--================ End Offer Area =================-->

<!--================ New Product Area =================-->
<app-new-product></app-new-product>
<!--================ End New Product Area =================-->

<!--================ Inspired Product Area =================-->
<app-inspired-product></app-inspired-product>
<!--================ End Inspired Product Area =================-->

<!--================ Start Blog Area =================-->
<app-blog></app-blog>
<!--================ End Blog Area =================-->

<!--================ start footer Area  =================-->
<app-footer></app-footer>
<!--================ End footer Area  =================-->
